ul {
    list-style-type: none;
}

body{
    display: flex;
    flex-direction: column;
}
.container{
    display: flex;
    flex-direction: column;
    padding: 5%;
    padding-left: 10%;
    padding-right: 10%;
}
.container.header-section{
    padding:5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 0;
}

.container.hero-section, .container.header-section{
    background-color: #1F2937;
}
footer{
    background-color: #1F2937;
    width: 100%;
    padding: 0;
    padding-top: 8px;
    text-align: center;
    margin-top:auto;
}
.container.info-section, .container.signup-section{
    background-color: #FFFFFF;
    /* justify-content: center; */
}
.container.quote-section{
    background-color: #E5E7EB;
}

.container.info-section{
    display: flex;
    flex-direction: column;
}

#info-header{
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

#signup-header{
    font-size: 14px;
    font-weight: bold;
}

#signup-text{
    font-size: 12px;
    
}

#info-images-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.logo{
    font-size: 24px;
    color: #F9FAF8;
}

a{
    text-decoration: none;
    color: #F9FAF8;
    font-size: 18px;
}

#hero-header{
    margin-bottom: 0px;
    padding: 0;
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8; 
}

.info-box{
    display:flex;
    flex-direction: column;
    flex:1;
    justify-content: space-between;
    width: 50px;
    padding: 10px;
}
.image-placeholder{
    height:150px;
    justify-content: center;
    align-items: center;
    border-color: #3882F6;
    border-width:3px;
    border-radius: 12px;
    border-style: solid;
}

.image-placeholder-text{
    font-size: 18px;
    text-align: center;
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

ul{
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}
.left-items, .right-items{
    display: flex;
    flex: 1;
    gap: 16px;
}

.hero.left-items, .hero.right-items{
    flex-direction: column;
    flex:1;
    gap:16px;
}


.container.hero-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:16px;
}
button{
    background-color: #3882F6;
    border-radius: 1%;
    width:86px;
    color:#FFFFFF;
    border-radius: 4px;
    padding: 4px;
    outline: inherit;
    border: none;
}

#hero-image{
    display: flex;
    height:200px;
    width: 300px;
    justify-content: center;
    align-items: center;
    background-color: grey;
    color: #1F2937;
}

#quote-text{
    font-size: 24px;
    font-weight: italic;
    color: #1F2937;
}

#author{
    justify-content: right;
    text-align: right;
    font-size: 14px;
    font-weight: bold;
    color: black;

}

.signup-box{
    
    /* justify-content: center; */
    height: 100px;
    width: 100%;
    background-color: #3882F6;
    border-radius: 8px;
    color: white;
}

.signup-box button{
    border-color: #FFFFFF;
    color:#FFFFFF;
    padding: 0;
    border-width:2px;
    border-style: solid;
}

.signup.left-items, .signup.right-items{
    flex-direction: column;
    flex:1;
    gap:16px;
}


